@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,200;1,300;1,600;1,700;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
html{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 600;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding: 50px 0;
}
.container{
    width:100%;
    height: auto;
    max-width:1600px;
    margin:0 auto;
}
.brand{
    text-align: center;
    text-shadow:blue 6px;
    text-decoration: violet;
    font-size: 10rem;
    color: whitesmoke;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
span form { 
    /* align-items: flex-end; */
    display:flex;
    margin-left: 400px;
    margin-top: 30px;
    max-width: 800px;
    height: 80px;
    border-radius: 70px;
    align-items: stretch;
    padding: 5x solid ;
    border:10px solid rgb(250,15,6);
    background-color: rgb(250,15,6);
}
blockquote{
    font-size: 34px;
    font-family: serif;
    color: rgb(230, 6, 179);
    text-align: center;
    margin-top:4x;
    
}
span form input 
{
    text-align:left;
    background-color: whitesmoke;
    font-size: 2.3rem;
    display: inline-block;
    width:750px;
    color:rgb(60, 0, 128);
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
}
span form ion-icon{
    font-size: 3rem;
    color:rgb(75,75,75);
    width:60px;
}
.btn{
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
}
.search-result{
    margin-top :50px;
    width:100%;
    display:grid;
    grid:80px;
    grid-gap: 70px;
    grid-template: auto / repeat(auto-fit,minmax(400px,1fr));
}
.item{
    border-radius: 25px;
    background-color:rgb(211, 13, 185);
    padding:15px;
    padding-bottom: 50px;
    width:100%;
    border-color: rgb(0, 0, 0);
    border-width: thick;
}
.item img{
    width:100%;
    height:300px;
    border-radius: 30px;
}
.item .flex-container{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.item .title{
    color: whitesmoke;
    margin: 0 5px 0 0;
    font-size: 2rem;
    font-weight: 400;
    font-family:serif;
}
.item .view-button{
    text-decoration: none;
    text-align:center;
    width:130px;
    padding:10px 0;
    background-color:rgb(163, 7, 177);
    color:white;
    border-radius: 10px;
    font-size: 1.6rem;
    margin-top: 20px;
}
.item-data{
    color:whitesmoke;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    /* display: block; */
    font-family:Georgia, 'Times New Roman', Times, serif;


}
